<div class="sidebar-root" style="justify-content: space-between">
    <div class="first-column" style="margin-top: 10px; display: flex; flex-direction: column">
      <button mat-icon-button color="primary" aria-label="home icon" (click)="1==1">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="leader" (click)="1===1">
        <mat-icon>leaderboard</mat-icon>
      </button>  
    </div>

    <div class="under-column" style="margin-bottom: 20px; display: flex; flex-direction: column">
      <button mat-icon-button color="primary" aria-label="settings" (click)="1==1">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
</div>
  