<div id="history-root">
    <h1>History</h1>
    <table *ngIf="actions !== []">
        <tr>
            <th>Type</th>
            <th>Coin</th>
            <th>Quantity</th>
            <th>Balance Change</th>
            <th>Date</th>
        </tr>
        <tr *ngFor="let action of actions">
            <td><font [color]="action.type === 'BUY' ? 'red' : 'green'">{{ action.type }}</font></td>
            <td>{{ action.coin }}</td>
            <td>{{ action.quantity }}</td>
            <td><font [color]="action.type === 'BUY' ? 'red' : 'green'">{{ action.balance_change }}$</font></td>
            <td>{{ action.date }}</td>
        </tr>
    </table>
    <div id="no-history" *ngIf="actions === []">
        <span id="text">You did not perform any operation</span>
    </div>
</div>