#history-root {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 30px #d2d2d2;
    padding: 40px;
    margin: 50px 50px 0;
    width: 100%;
    border-radius: 20px;
    margin: 0;
    left: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid black;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

th {
    text-align: center;
    padding-bottom: 3px;
}