#dashboard-root {
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#infos {
    padding-top:7%;
}

#performances {
    padding-top: 2%;
}

#history {
    padding-top: 2%;
}

#sidebar {
    opacity: 0;
}

#sidebar:hover {
    opacity: 100;
}