#root{
    height: 100%;
    background: darkgray;
    /* position: relative; */
  }

  .left-box,.right-box{
    height: 100%;
  }
  .left-box{
    width: 500px;
    height: 100%;
    background: #d2d2d2;
    float:left;

    font-family: Quicksand, sans-serif !important;
    box-shadow: 0 0 30px darkgrey;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }

  .grey-text {
    color: grey;
  }

  .right-box{
    width: calc(100% - 560px);
    height: 100%;
    background: green;
    float:left;
}