#root{
    height: 100%;
    background: darkgray;
    /* position: relative; */
  }

  .left-box,.right-box{
    height: 100%;
  }
  .left-box{
    width: 300px;
    height: 100%;
    background: red;
    float:left;
  }
  .right-box{
    width: calc(100% - 300px);
    height: 100%;
    background: green;
    float:left;
}