<div class="chart-box">
  <div id="chart-candlestick">
    <apx-chart
      #chartCandle
      [series]="chartCandleOptions.series"
      [chart]="chartCandleOptions.chart"
      [xaxis]="chartCandleOptions.xaxis"
      [yaxis]="chartCandleOptions.yaxis"
      [tooltip]="chartCandleOptions.tooltip"
      [plotOptions]="chartCandleOptions.plotOptions"
    ></apx-chart>
  </div>
  <div id="chart-bar">
    <apx-chart
      #chartBar
      [series]="chartBarOptions.series"
      [chart]="chartBarOptions.chart"
      [xaxis]="chartBarOptions.xaxis"
      [yaxis]="chartBarOptions.yaxis"
      [dataLabels]="chartBarOptions.dataLabels"
      [stroke]="chartBarOptions.stroke"
      [plotOptions]="chartBarOptions.plotOptions"
    ></apx-chart>
  </div>
  <div id="dropdown">
    <span>  
      <select [(ngModel)]="symbol" (change)="changeCoin()">
          <option [value]="symbol" selected="selected">{{ symbol.slice(0, -4) }}</option>
          <option *ngFor="let coin of filteredCoins" [value]="coin">
            {{ coin.slice(0, -4) }}
          </option>
      </select>
    </span>
    <span>
      <input type="search" [(ngModel)]="filter" (change)="performFilter()" placeholder="Search">
    </span>
  </div>
  <div>
    <app-buy-sell [symbol]="symbol" [price]="price" [price_state]="UI_priceStatus" [price_percentage_evol]="price_percentage"></app-buy-sell>
  </div>
</div>