.chart-box {
  max-width: 650px;
  margin: 35px auto;
}
#chart-candlestick,
#chart-bar {
  max-width: 640px;
}

#chart-bar {
  margin-top: -15px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full_width {
  width: 100%;
}