<div id="auth-root">
  <div id="auth-container">
    
    <div id="auth-container-inner1">
      <h1 id="title">{{this.authType === 'REGISTER' ? 'Register' : 'Login'}}</h1>
    </div>

    <mat-form-field class="form_input" appearance="outline">
      <input matInput
        [formControl]="username"
        type="text"
        autocomplete="off"
        placeholder="Username"
        [(ngModel)] = "username_"
      />
    </mat-form-field>

    <mat-form-field class="form_input" [@inOutAnimation] *ngIf="authType === 'REGISTER'" appearance="outline">
      <input matInput
        [formControl]="lastname"
        type="text"
        autocomplete="off"
        placeholder="Lastname"
        [(ngModel)] = "lastname_"
      />
    </mat-form-field>
      
    <mat-form-field class="form_input" [@inOutAnimation] *ngIf="authType === 'REGISTER'" appearance="outline">
      <input matInput
        [formControl]="firstname"
        type="text"
        autocomplete="off"
        placeholder="Firstname"
        [(ngModel)] = "firstname_"
      />
    </mat-form-field>
    
    <mat-form-field class="form_input" [@inOutAnimation] *ngIf="authType === 'REGISTER'" appearance="outline">
      <input matInput
        [formControl]="email"
        type="email"
        autocomplete="off"
        placeholder="E-mail"
        [(ngModel)] = "email_"
      />
    </mat-form-field>
    
    <mat-form-field class="form_input" appearance="outline">
      <input matInput
        [formControl]="password"
        autocomplete="off"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        [(ngModel)]="password_" 
      />
      
      <mat-icon id="visibility" matSuffix (click)="changeVisibility()">
        {{showPassword ? "visibility_off" : "visibility"}}
      </mat-icon>
      
      <mat-hint
        *ngIf="password.value!=='' && authType!=='LOGIN'">{{password.value.length < 8 ? 'Weak Password.' : 'Strong Enough!'}} && 
      </mat-hint>
    </mat-form-field>
    
    <button id="submit_button" color="primary" mat-flat-button (click)="submitButtonFunc()">
      {{this.authType === 'REGISTER' ? 'Register' : 'Login'}}
    </button>
    
    <div id="bottom_switch">
      <div>
        {{this.authType === 'REGISTER' ? 'Already one of us ? Login instead' : 'First time here? Join us'}}
      </div>

      <button mat-stroked-button color="primary" (click)="changeGoal()">
        {{this.authType === 'REGISTER' ? 'Login' : 'Register'}}
      </button>
    </div>

  </div>
</div>
