<div class="sidebar-root">
    <div class="first-column">
      <button mat-icon-button color="primary" aria-label="home icon" (click)="clickDashboard()">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="leaderboard icon" (click)="clickTrading()">
        <mat-icon>leaderboard</mat-icon>
      </button>  
    </div>

    <div class="under-column">
      <button mat-icon-button color="primary" aria-label="settings" (click)="clickLogout()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </div>
</div>
  