<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="app.component.css" />
        <title>App</title>
    </head>

    <body>
        <header>
            <div id="logo">
                <img src="../assets/images/dealmarket.png" alt="DealMarket" width="154" height="115">
            </div>
                <nav>
                    <a href="#" class="toggle_buttons">Dashboard</a>
                    <a href="#" class="toggle_buttons">Charts</a>
                    <a href="#" class="toggle_buttons">Achat</a>
                    <a href="#" class="toggle_buttons">Echanger</a>
                    <a href="#" class="toggle_buttons">Profil</a>
                </nav>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget diam faucibus, fermentum nibh ac, fermentum mi. Vivamus vestibulum ultricies lorem, in pretium augue ultricies dignissim. Donec sed sollicitudin odio, eu auctor neque. Phasellus sollicitudin sem a lectus faucibus varius. Suspendisse tellus magna, consectetur a laoreet id, malesuada sed dolor. Nam vel massa ultricies, fermentum augue et, dictum arcu. Proin in lacus placerat, luctus quam et, dictum est. Etiam arcu lacus, ullamcorper vel elementum eu, euismod eget lacus. Nullam id fermentum tellus. Nulla facilisi. Sed facilisis risus sed nulla eleifend, auctor suscipit lorem finibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras eu eleifend erat. Vivamus suscipit est ac mauris lobortis, a tempor ligula tincidunt. Fusce et eleifend lorem, eu ullamcorper arcu. Sed porttitor bibendum rhoncus.

            In ac est in velit ullamcorper pulvinar. Maecenas odio neque, lobortis at metus id, blandit molestie nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam scelerisque, tellus nec sollicitudin semper, justo mauris fringilla elit, vitae sollicitudin dolor tortor id nibh. Vivamus a orci diam. Pellentesque nec luctus risus, ac rhoncus nulla. Pellentesque cursus tortor eu elit varius hendrerit. Sed mollis mattis massa. Ut ut tincidunt enim, ut feugiat nunc. Vivamus ligula augue, egestas ac ornare at, consequat sed mauris. Aenean </p>
        <footer>
            <a href="#" class="footer_buttons">À propos</a>
            <a href="#" class="footer_buttons">CGU</a>
            <a href="#" class="footer_buttons">Nous contacter</a>
        </footer>
    </body>
</html>