<div id="root-buy-sell">
    <div id="button_container">
        <div id="Buttons">
            <div>
                <button id="Buy" (click)="buyCoin()">
                    Buy
                </button>
                <input type="number" value="0" [(ngModel)]="quantityBuy" min="0" step="0.1">
            </div>
            <div>
                <button id="Sell" (click)="sellCoin()">
                    Sell
                </button>
                <input type="number" value="0" [(ngModel)]="quantitySell" min="0" step="0.1">
            </div>
            <div id ="UI_msg" [class]="UI_Message_state" *ngIf="UI_Message_state !== 'NEUTRAL'">
                {{ UI_Message }}
            </div>
        </div>
        <div id="price" [class]="price_state">
            <b>Price : </b> {{ price | number }}$ ({{ price_percentage_evol > 0 ? '+' : ''}}{{ price_percentage_evol | number: '.0-3' }} %)
        </div>
    </div>
    
</div>